

/data/.~*
/data/example.edf
/data/annotated_edf.csv
/data/4473*
/data/Seizure_Annotations.csv
/data/File_Properties.csv
/data/validation_groups.csv
/src/data_processing/old/
/src/machine_learning_course/
.idea
*.asv
/src/.*pytest_cache/
/src/__pycache__/
.vscode
.pytest_cache
test/__pycache__/
config.py
__pycache__
/iframe_figures
*.egg-info
slurm-*
*.list


